body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    font-family: "Noto Znamenny Musical Notation", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: url(./../images/demoBackground.png);
    background-size: cover;

    #bookHotel {
        header {
            margin-bottom: 20px;
            text-align: center;
            font-size: 32px;
            color: #fff;
        }
        main {
            input {
                height: 14px;
                padding: 12px;
                border-radius: 12px;
                border: 1.5px solid lightgrey;
                outline: none;
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                box-shadow: 0px 0px 20px -18px;
    
                &:hover {
                    border: 2px solid lightgrey;
                    box-shadow: 0px 0px 20px -17px;
                }
    
                &:active {
                    transform: scale(0.95);
                }
    
                &:focus {
                    border: 2px solid grey;
                }
            }
    
            button {
                padding: 12px 25px;
                border: 1.5px solid lightgrey;
                border-radius: 15px;
                color: #212121;
                z-index: 1;
                background: #e8e8e8;
                position: relative;
                box-shadow: 0px 0px 20px -18px;
                transition: all 250ms;
                overflow: hidden;
                cursor: pointer;
    
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    border-radius: 15px;
                    background-color: #212121;
                    z-index: -1;
                    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
                    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
                    box-shadow: 0px 0px 20px -18px;
                    transition: all 250ms
                }
    
                &:hover {
                    color: #e8e8e8;
                }
    
                &:hover::before {
                    width: 100%;
                }
            }
        }
    }
}